<header class="padding-x py-8 absolute z-10 w-full">
    <nav class="flex justify-between items-center max-container">
        <a href="/">
            <img src="../../assets/images/header-logo.svg" alt="Logo" width="130px" height="29px">
        </a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            <li *ngFor="let links of this.navLinks" class="font-montserrat leading-normal text-lg text-slate-gray">
                {{links.label}}</li>
        </ul>
        <div class="hidden max-lg:block">
            <img src="../../assets/icons/hamburger.svg" alt="Hamburger" width="25px" height="25px">
        </div>
    </nav>
</header>